USE [master]
GO
/****** Object:  Database [TinTucWeb2]    Script Date: 11/05/2016 16:56:33 ******/
CREATE DATABASE [TinTucWeb2] ON  PRIMARY 
( NAME = N'TinTucWeb2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TinTucWeb2.mdf' , SIZE = 3328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TinTucWeb2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TinTucWeb2_log.LDF' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TinTucWeb2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TinTucWeb2]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/05/2016 16:56:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[idUser] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[MatKhau] [varchar](15) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[DienThoai] [varchar](12) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[NgayDangKi] [date] NOT NULL,
	[idGroup] [int] NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[User] ([idUser], [HoTen], [MatKhau], [DiaChi], [DienThoai], [Email], [NgayDangKi], [idGroup], [NgaySinh], [GioiTinh], [Active]) VALUES (N'1', N'TTV Team', N'a', N'a', N'a', N'a', CAST(0xBA1D0B00 AS Date), 1, CAST(0xBC180B00 AS Date), 1, 1)
INSERT [dbo].[User] ([idUser], [HoTen], [MatKhau], [DiaChi], [DienThoai], [Email], [NgayDangKi], [idGroup], [NgaySinh], [GioiTinh], [Active]) VALUES (N'2', N'2', N'2', N'2', N'2', N'222@gmail.com', CAST(0x0F3C0B00 AS Date), 1, CAST(0x8D010000 AS Date), 1, 1)
INSERT [dbo].[User] ([idUser], [HoTen], [MatKhau], [DiaChi], [DienThoai], [Email], [NgayDangKi], [idGroup], [NgaySinh], [GioiTinh], [Active]) VALUES (N'3', N'4', N'3', N'4', N'4', N'4@gmail.com', CAST(0x0F3C0B00 AS Date), 1, CAST(0x18030000 AS Date), 1, 0)
/****** Object:  Table [dbo].[TheLoai]    Script Date: 11/05/2016 16:56:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[idTheLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](100) NOT NULL,
	[AnhHien] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TheLoai] PRIMARY KEY CLUSTERED 
(
	[idTheLoai] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TheLoai] ON
INSERT [dbo].[TheLoai] ([idTheLoai], [TenTheLoai], [AnhHien]) VALUES (1, N'Thể loại Game', N'game.png')
INSERT [dbo].[TheLoai] ([idTheLoai], [TenTheLoai], [AnhHien]) VALUES (2, N'Thể loại Công Nghệ', N'gcbonii5usujou0isozc4sywhztsxeyx-vwaqquxsyqoxujye2nuivoi19vdwsse7nxjhhnp3dfkhmdt8sxbq_DOFO.jpg')
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
/****** Object:  Table [dbo].[DSMail]    Script Date: 11/05/2016 16:56:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSMail](
	[idMail] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nchar](30) NOT NULL,
 CONSTRAINT [PK_DSMail] PRIMARY KEY CLUSTERED 
(
	[idMail] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DSMail] ON
INSERT [dbo].[DSMail] ([idMail], [Email]) VALUES (12, N'duytung212121@gmail.com       ')
INSERT [dbo].[DSMail] ([idMail], [Email]) VALUES (13, N'tothihoaingan@gmail.com       ')
INSERT [dbo].[DSMail] ([idMail], [Email]) VALUES (14, N'ttcnm24@gmail.com             ')
SET IDENTITY_INSERT [dbo].[DSMail] OFF
/****** Object:  Table [dbo].[Message]    Script Date: 11/05/2016 16:56:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[idMes] [int] IDENTITY(1,1) NOT NULL,
	[Hoten] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Mess] [nvarchar](max) NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[idMes] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Message] ON
INSERT [dbo].[Message] ([idMes], [Hoten], [Email], [Mess], [TinhTrang]) VALUES (10, N'wtf', N'wtf@gmail.com', N'what the hell', NULL)
INSERT [dbo].[Message] ([idMes], [Hoten], [Email], [Mess], [TinhTrang]) VALUES (13, N'tung', N'222@gmail.com', N'yuioqwe', NULL)
INSERT [dbo].[Message] ([idMes], [Hoten], [Email], [Mess], [TinhTrang]) VALUES (23, N'uiuoiuiouiou', N'iopopipo@gmail.com', N'dqwd', NULL)
SET IDENTITY_INSERT [dbo].[Message] OFF
/****** Object:  Table [dbo].[LoaiTin]    Script Date: 11/05/2016 16:56:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTin](
	[idLoaiTin] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[AnhHien] [nvarchar](100) NOT NULL,
	[idTheLoai] [int] NOT NULL,
 CONSTRAINT [PK_LoaiTin] PRIMARY KEY CLUSTERED 
(
	[idLoaiTin] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LoaiTin] ON
INSERT [dbo].[LoaiTin] ([idLoaiTin], [Ten], [AnhHien], [idTheLoai]) VALUES (1, N'Tin Game Online', N'chuaco', 1)
INSERT [dbo].[LoaiTin] ([idLoaiTin], [Ten], [AnhHien], [idTheLoai]) VALUES (4, N'Tin Game Offline', N'chuaco', 1)
INSERT [dbo].[LoaiTin] ([idLoaiTin], [Ten], [AnhHien], [idTheLoai]) VALUES (5, N'Tin Công Nghệ Trong Nước', N'chuaco', 2)
SET IDENTITY_INSERT [dbo].[LoaiTin] OFF
/****** Object:  Table [dbo].[Tin]    Script Date: 11/05/2016 16:56:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tin](
	[idTin] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](100) NOT NULL,
	[TomTat] [nvarchar](100) NOT NULL,
	[urlHinh] [nvarchar](100) NULL,
	[Ngay] [date] NOT NULL,
	[idUser] [varchar](20) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[idLoaiTin] [int] NOT NULL,
	[idTheLoai] [int] NOT NULL,
	[SoLanXem] [int] NOT NULL,
	[TinNoiBat] [bit] NOT NULL,
	[AnhHien] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Tin] PRIMARY KEY CLUSTERED 
(
	[idTin] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Tin] ON
INSERT [dbo].[Tin] ([idTin], [TieuDe], [TomTat], [urlHinh], [Ngay], [idUser], [NoiDung], [idLoaiTin], [idTheLoai], [SoLanXem], [TinNoiBat], [AnhHien]) VALUES (5, N'555', N'555', N'17.jpg', CAST(0xE43B0B00 AS Date), N'1', N'<h1 style="color:red;">test thữ</h1>', 6, 1, 139, 1, N'111.jpg')
SET IDENTITY_INSERT [dbo].[Tin] OFF
/****** Object:  Table [dbo].[ComMent]    Script Date: 11/05/2016 16:56:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComMent](
	[idComMent] [int] NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[idTin] [int] NOT NULL,
 CONSTRAINT [PK_ComMent] PRIMARY KEY CLUSTERED 
(
	[idComMent] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_LoaiTin_TheLoai]    Script Date: 11/05/2016 16:56:34 ******/
ALTER TABLE [dbo].[LoaiTin]  WITH CHECK ADD  CONSTRAINT [FK_LoaiTin_TheLoai] FOREIGN KEY([idTheLoai])
REFERENCES [dbo].[TheLoai] ([idTheLoai])
GO
ALTER TABLE [dbo].[LoaiTin] CHECK CONSTRAINT [FK_LoaiTin_TheLoai]
GO
/****** Object:  ForeignKey [FK_Tin_LoaiTin]    Script Date: 11/05/2016 16:56:34 ******/
ALTER TABLE [dbo].[Tin]  WITH CHECK ADD  CONSTRAINT [FK_Tin_LoaiTin] FOREIGN KEY([idLoaiTin])
REFERENCES [dbo].[LoaiTin] ([idLoaiTin])
GO
ALTER TABLE [dbo].[Tin] CHECK CONSTRAINT [FK_Tin_LoaiTin]
GO
/****** Object:  ForeignKey [FK_Tin_TheLoai]    Script Date: 11/05/2016 16:56:34 ******/
ALTER TABLE [dbo].[Tin]  WITH CHECK ADD  CONSTRAINT [FK_Tin_TheLoai] FOREIGN KEY([idTheLoai])
REFERENCES [dbo].[TheLoai] ([idTheLoai])
GO
ALTER TABLE [dbo].[Tin] CHECK CONSTRAINT [FK_Tin_TheLoai]
GO
/****** Object:  ForeignKey [FK_Tin_User]    Script Date: 11/05/2016 16:56:34 ******/
ALTER TABLE [dbo].[Tin]  WITH CHECK ADD  CONSTRAINT [FK_Tin_User] FOREIGN KEY([idUser])
REFERENCES [dbo].[User] ([idUser])
GO
ALTER TABLE [dbo].[Tin] CHECK CONSTRAINT [FK_Tin_User]
GO
/****** Object:  ForeignKey [FK_ComMent_Tin]    Script Date: 11/05/2016 16:56:34 ******/
ALTER TABLE [dbo].[ComMent]  WITH CHECK ADD  CONSTRAINT [FK_ComMent_Tin] FOREIGN KEY([idTin])
REFERENCES [dbo].[Tin] ([idTin])
GO
ALTER TABLE [dbo].[ComMent] CHECK CONSTRAINT [FK_ComMent_Tin]
GO
