
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Liên Hệ -->
<div class="contact">
    <div class="container">
        <div class="map">
            <h3>Xem trên bản đồ</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15676.261013929698!2d106.71439121452637!3d10.806314307384625!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6c3d29d370b52a7e!2zxJDhuqFpIGjhu41jIEPDtG5nIG5naOG7hyBUUC5IQ00gLSBIVVRFQ0g!5e0!3m2!1svi!2s!4v1474702493532" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="contact-grids">
            <div class="col-md-3 contact-grid">
                <div class="call">
                    <div class="col-xs-3 contact-grdl">
                        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-9 contact-grdr">
                        <ul>
                            <li>+84166 737 2302</li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="address">
                    <div class="col-xs-3 contact-grdl">
                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-9 contact-grdr">
                        <ul>
                            <li>818/25E XVNT Street, Binh Thanh District</li>
                            <li>HCMC</li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="mail">
                    <div class="col-xs-3 contact-grdl">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-9 contact-grdr">
                        <ul>
                            <li><a href="mailto:247congnghe@gmail.com">247congnghe@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-5 contact-grid">
                   Quảng cáo của bạn ở đây
            </div>
            <div class="col-md-4 contact-grid">
                <div class="newsletter1">
                    <h3><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Tin tức mới</h3>
                 </div>      
                @Html.Action("lienhe4", "LienHe") <!-- Gọi partial view lienhe4 (phần khách hàng đăng ký nhận tin mới) -->
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
