@foreach (var tinGameOnHot in Model)
{

    <img src="~/TemplateMau/images/@tinGameOnHot.urlHinh" class="img-responsive" />
    <div class="video-bottom-grid1-pos">
<<<<<<< HEAD
        <a href="@Url.Action("Lay1TinGameOnHot","TrangChu",new { id = tinGameOnHot.idTin})">
=======
        <a href="@Url.Action("CTTin","TrangChu",new { id = tinGameOnHot.idTin})">
>>>>>>> refs/remotes/origin/Nhánh-(-du-)
            <p>@tinGameOnHot.TieuDe</p>
        </a>

    </div>
}
