@foreach (var tinCNTN in Model)
{

    <img src="~/TemplateMau/images/@tinCNTN.urlHinh" class="img-responsive" />
        <div class="video-bottom-grid1-pos">
            <a href="@Url.Action("Lay1TinCNTN","TrangChu",new { id = tinCNTN.idTin})">
                <p>@tinCNTN.TieuDe</p>
            </a>

        </div>
}

