@foreach (var tinGameOfHot in Model)
{

    <img src="~/TemplateMau/images/@tinGameOfHot.urlHinh" class="img-responsive" />
    <div class="video-bottom-grid1-pos">
        <a href="@Url.Action("CTTin","TrangChu",new { id = tinGameOfHot.idTin})">
            <p>@tinGameOfHot.TieuDe</p>
        </a>

    </div>
}
