@foreach (var tinCNTGHot in Model)
{

    <img src="~/TemplateMau/images/@tinCNTGHot.urlHinh" class="img-responsive" />
    <div class="video-bottom-grid1-pos">
<<<<<<< HEAD
        <a href="@Url.Action("Lay1TinCNTGHot","TrangChu",new { id = tinCNTGHot.idTin})">
=======
        <a href="@Url.Action("CTTin","TrangChu",new { id = tinCNTGHot.idTin})">
>>>>>>> refs/remotes/origin/Nhánh-(-du-)
            <p>@tinCNTGHot.TieuDe</p>
        </a>

    </div>
}


