@foreach (var tinCNTG in Model)
{
    
        <img src="~/TemplateMau/images/@tinCNTG.urlHinh" class="img-responsive" />
        <div class="video-bottom-grid1-pos">
<<<<<<< HEAD
            <a href="@Url.Action("Lay1TinCongNgheTheGioi","TrangChu",new { id = tinCNTG.idTin})">
=======
            <a href="@Url.Action("CTTin","TrangChu",new { id = tinCNTG.idTin})">
>>>>>>> refs/remotes/origin/Nhánh-(-du-)
                <p>@tinCNTG.TieuDe</p>
            </a>
            
        </div>
}
