@foreach (var tinCNTGHot in Model)
{

    <img src="~/TemplateMau/images/@tinCNTGHot.urlHinh" class="img-responsive" />
    <div class="video-bottom-grid1-pos">
        <a href="@Url.Action("CTTin","TrangChu",new { id = tinCNTGHot.idTin})">
            <p>@tinCNTGHot.TieuDe</p>
        </a>

    </div>
}


