@foreach (var tinGameOnline in Model)
{

    <img src="~/TemplateMau/images/@tinGameOnline.urlHinh" class="img-responsive" />
    <div class="video-bottom-grid1-pos">
<<<<<<< HEAD
        <a href="@Url.Action("Lay1TinGameON","TrangChu",new { id = tinGameOnline.idTin})">
=======
        <a href="@Url.Action("CTTin","TrangChu",new { id = tinGameOnline.idTin})">
>>>>>>> refs/remotes/origin/Nhánh-(-du-)
            <p>@tinGameOnline.TieuDe</p>
        </a>

    </div>
}

