@foreach (var tinCNTN in Model)
{

    <img src="~/TemplateMau/images/@tinCNTN.urlHinh" class="img-responsive" />
        <div class="video-bottom-grid1-pos">
<<<<<<< HEAD
            <a href="@Url.Action("Lay1TinCNTN","TrangChu",new { id = tinCNTN.idTin})">
=======
            <a href="@Url.Action("CTTin","TrangChu",new { id = tinCNTN.idTin})">
>>>>>>> refs/remotes/origin/Nhánh-(-du-)
                <p>@tinCNTN.TieuDe</p>
            </a>

        </div>
}

