    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
  <li style="margin-top:10px;float:left;">
            <input type="text" id="timkiem" name="timkiem" class="form-control" placeholder="Tìm kiếm ... "/>
        </li>
       
    }