@foreach (var tinCNTNHot in Model)
{
    <li>
<<<<<<< HEAD
        <a href="@Url.Action("View4tinCNTNHot","TrangChu",new { id = tinCNTNHot.idTin})">
=======
        <a href="@Url.Action("CTTin","TrangChu",new { id = tinCNTNHot.idTin})">
>>>>>>> refs/remotes/origin/Nhánh-(-du-)
            @tinCNTNHot.TieuDe
        </a>
    </li>
}


