@foreach (var tinGameOf in Model)
{
    <li>
<<<<<<< HEAD
        <a href="@Url.Action("View4tinGameOf","TrangChu",new { id = tinGameOf.idTin})">
=======
        <a href="@Url.Action("CTTin","TrangChu",new { id = tinGameOf.idTin})">
>>>>>>> refs/remotes/origin/Nhánh-(-du-)
            @tinGameOf.TieuDe
        </a>
    </li>
}
