
                    <ul class="nav navbar-nav cl-effect-18" id="cl-effect-18">
                        <li class="act"><a href="index" class="effect1 active">Home</a></li>
                        @foreach (var loaitin in Model)
                        {
                            <li><a href="@Url.Action("ViewMenuTop","TrangChu",new { idLT = loaitin.idLoaiTin})">@loaitin.Ten</a></li>
                        }
                        @*<li><a href="events.html">Tin công nghệ</a></li>
                        <li><a href="breaking.html">Tin game</a></li>
                        <li><a href="entertainment.html">Sự kiện</a></li>*@
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Business <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="short-codes.html">Market</a></li>
                                <li><a href="short-codes.html">Reviews</a></li>
                                <li><a href="short-codes.html">Stock</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Liên hệ</a></li>
                    </ul>


