
@foreach (var tinGameOL in Model)
{
    <li>
<<<<<<< HEAD
        <a href="@Url.Action("View4tinGameOnline","TrangChu",new { id = tinGameOL.idTin})">
=======
        <a href="@Url.Action("CTTin","TrangChu",new { id = tinGameOL.idTin})">
>>>>>>> refs/remotes/origin/Nhánh-(-du-)
            @tinGameOL.TieuDe
        </a>
    </li>
}
