@foreach (var tinGameOnHot in Model)
{
    <li>
<<<<<<< HEAD
        <a href="@Url.Action("View4tinGameOnHot","TrangChu",new { id = tinGameOnHot.idTin})">
=======
        <a href="@Url.Action("CTTin","TrangChu",new { id = tinGameOnHot.idTin})">
>>>>>>> refs/remotes/origin/Nhánh-(-du-)
            @tinGameOnHot.TieuDe
        </a>
    </li>
}



