@foreach (var tinCNTGHot in Model)
{
    <li>
<<<<<<< HEAD
        <a href="@Url.Action("View4tinCNTGHot","TrangChu",new { id = tinCNTGHot.idTin})">
=======
        <a href="@Url.Action("CTTin","TrangChu",new { id = tinCNTGHot.idTin})">
>>>>>>> refs/remotes/origin/Nhánh-(-du-)
            @tinCNTGHot.TieuDe
        </a>
    </li>
}

