@foreach (var tinCNTN in Model)
{
    <li>
<<<<<<< HEAD
        <a href="@Url.Action("View4tinCNTN","TrangChu",new { id = tinCNTN.idTin})">
=======
        <a href="@Url.Action("CTTin","TrangChu",new { id = tinCNTN.idTin})">
>>>>>>> refs/remotes/origin/Nhánh-(-du-)
            @tinCNTN.TieuDe
        </a>
    </li>
}

