@foreach (var tinGameOfHot in Model)
{
    <li>
<<<<<<< HEAD
        <a href="@Url.Action("View4tinGameOfHot","TrangChu",new { id = tinGameOfHot.idTin})">
=======
        <a href="@Url.Action("CTTin","TrangChu",new { id = tinGameOfHot.idTin})">
>>>>>>> refs/remotes/origin/Nhánh-(-du-)
            @tinGameOfHot.TieuDe
        </a>
    </li>
}




